{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "requireConfig": true,
  "useEditorConfig": true,
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "experimentalTernaries": false,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true
}
